<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="1">
        <tr>
            <th>Name</th><th>Emailid</th><th>Jobid</th><th>Applydate</th>
        </tr>
        {% for d1 in res1 %}
        <tr>
            <td>{{d1.cname}}</td><td>{{d1.emailid}}</td><td>{{d1.jobid}}</td><td>{{d1.applydate}}</td>
        </tr>
        {% endfor %}
        </table>
</body>
</html>