<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .cls1
    {
      background-color:black;
      text-align: right;
        color: white;
    }
    .cls2
    {
       padding-left: -50;
       text-align: left;
    }
    

    </style>
</head>
<body bgcolor="">
    <div class="cls1">
    <center><strong><h1>WELCOME TO JOB PORTAL</h1></strong></center>
<pre><a href="registration"><font size="5" color="white">Register</font></a>        <a href="login"><font size="5" color="white">login</font></a><h1> <a href="Logout"><font size="5" color="white">Logout</font> </a></h1></pre>
</div>  <img src="/static/image/8.jpg" height="70%" width="90%" />
</body>
</html>