<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body bgcolor="#D5D8DC">
    <form action=" " method="post">
        {% csrf_token %}
     <table width="700px" height="800" align="center">
         <tr>
             <td width="200px" bgcolor="1c2833" style="color:white; padding: 20px;">
                 <img src="/static/image/YOGESH PIK1.jpg"height="100px" style=" border-radius:50%;"alt="">
                 <h1>Personal details</h1> <hr>
                 {% for d1 in d %}
                 <p><b>Name</b>:{{d1.name}}<br><br>
                 <b>Address</b>:{{d1.Address}}<br><br>
                 <b>Gender</b>:{{d1.gender}}<br><br>
                 <b>Localitiy</b>:{{d1.locality}}<br><br>
                 <b>City</b>:{{d1.city}}<br><br>
                 <b>Pin</b>:{{d1.pin}}<br><br>
                 <b>State</b>:{{d1.state}}<br><br>
                 <b>Phone</b>: {{d1.mobile}}<br><br>
                 <b>Email address</b>:{{d1.email}}<br><br>
                 <b>Job_City</b>:{{d1.job_city}}<br><br>
                 <b>linkedin</b>:{{d1.linkedin}}<br><br>
                 </p>
                 
                 </td>
             <td width="500px" bgcolor="#FDFEFE" style="padding:10px">
                 <h1>Objective</h1><hr>
                 <p>{{d1.Objective}}</p><br><br>

                <h2>Work experience</h2><hr>
                <p>{{d1.Workexperience}}</p><br><br>

                <h3>EDUCATION QUALIFICATION</h3><hr><br>
                <p><b>{{d1.course}}</b>in &nbsp{{d1.branch}}&nbspwith&nbsp{{d1.percentage}}%&nbsp&nbsp from&nbsp{{d1.univercity}}&nbspin&nbsp{{d1.Passingyear}}.</p><br><br>
                <p><b>{{d1.dcourse}}</b>in &nbsp{{d1.dbranch}}&nbspwith{{d1.dpercentage}}%&nbsp&nbsp from&nbsp{{d1.dunivercity}}&nbspin&nbsp{{d1.dPassingyear}}</p><br><br>
                <p><b>{{d1.gcourse}}</b>in &nbsp{{d1.gbranch}}&nbspwith&nbsp{{d1.gpercentage}}%&nbsp&nbsp from&nbsp{{d1.gunivercity}}&nbspin&nbsp{{d1.gPassingyear}}</p><br><br>
                <p><b>{{d1.pgcourse}}</b>in &nbsp{{d1.pgbranch}}&nbspwith&nbsp{{d1.pgpercentage}}%&nbsp&nbsp from&nbsp{{d1.pgunivercity}}&nbspin&nbsp&nbsp{{d1.pgPassingyear}}</p><br><br>
                <!--<ul>
                    <li>Bachelor of Engineering (CSE) in 2019 from RGPV Bhopal with 64.6%.</li>
                    <li>Polytechnic Diploma (CSE) in 2016 from RGPV Bhopal with 67.7%.</li>
                    <li>12th in 2013 from Madhya Pradesh Board Bhopal with 67%.</li>
                    <li>10th in 2011 from Madhya Pradesh Board Bhopal with 63.8%.</li>
                </ul>-->
                <h3>IT SKILLS</h3><hr><br>
                <p>{{d1.ITSKILLS}}</p><br><br>
               <!--<ul>
                    <li><b>Language</b>: Python.</li>
                    <li><b>Front-end</b>: HTML, CSS.</li>
                    <li><b>Back-end</b>: Django.</li>
                    <li></b>Database</b>: db.sqlite3.</li>
                </ul>-->
                <h2>PROJECTS</h2><hr>
                <p>{{d1.PROJECTS}}</p><br><br>

                <!--<p><b>Technology</b>: Python.<br>
                <b>Framework</b>: Django.<br>
                <b>Job Portal</b>: This project is used to provide job information to 
                               candidates based on their skills, HR can post the 
                               job and candidates can search for the job based on 
                               technology and qualification.
                </p>-->
                <h2>TRAININGS</h2><hr>
                <p>{{d1.TRAININGS}}</p><br><br>

                 <!--<p>I have complite 6 month internship frome kangaroo software ltd Indore.</p> -->

                <h2>HOBBIES & INTEREST</h2><hr>
                <p>{{d1.HOBBIESINTEREST}}</p><br><br>

                <!--<b>Strengths </b>: Hard Work, self-motivated, quick learner.<br>
                <b>Hobbies </b>: Playing Cricket, listening song, Willingness to learn new things.<br>-->
                <h2>DECLARATION</h2><hr>
                <p>{{d1.DECLARATION}}</p><br><br>

                 <!--<p>I hereby declare that above mentioned information are true to the best of my knowledge.</p><br>-->
                <pre><b>Date:</b> <p>{{d1.Date}}</p>                                                                <b><p>{{d1.sname}}</p></b></pre>
             </td>
            </tr>
     </table>{% endfor %}
             
        <br><br>
    </form>
    <!--<table border="1px">
    <tr>
        <th>Name</th><th>Gender</th><th>locality</th><th>city</th><th>pin</th>
        <th>state</th><th>mobile</th><th>email</th><th>job_city</th>
    </tr>
    {% for d1 in d %}
<tr>
    <td> {{d1.name}}</td><td>{{d1.gender}}</td><td>{{d1.locality}}</td><td>{{d1.city}}</td><td>
    {{d1.pin}}</td><td>{{d1.state}}</td><td>{{d1.mobile}}</td><td>{{d1.email}}</td><td>{{d1.job_city}}
</tr>
    {% endfor %}
    </table>-->
         
</body>
</html>